.accordion-button:not(.collapsed) {
    background-color: rgb(252, 229, 210);
    color: #b55f03;
}
.accordion-button:focus{
    box-shadow: 0 0 0 0.25rem rgb(250, 219, 193);
}
.form-control:focus{
    box-shadow: rgb(250, 219, 193) 0px 0px 0px 0.25rem;
    border-color: rgb(250, 219, 193);
}
.btn{
    background-color: rgb(250, 219, 193);
}
.btn:hover{
    color: white;
    background-color: rgb(240, 198, 163);
}
.form-check-input:focus, .form-select:focus{
    border-color: rgb(240, 198, 163);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(250, 219, 193);
}
.form-check-input:checked{
    border-color: rgb(240, 198, 163);;
    background-color: rgb(250, 219, 193);
}
a{
    color: rgb(240, 198, 163);
    text-decoration: none;
}

.btn-popover{
    background-color: transparent;
    border: none;
}
.btn-popover:hover{
    background-color: transparent;
    color: rgb(13, 202, 240);
}